<div class="amenities">
  <h3>Amenities</h3>
  <ul>
  <%= "Cribs:  #{location.cribs}" if location.cribs %>
  <%= "Changing stations: #{location.changing_stations}" if location.changing_stations %>
  <%= "High chairs: #{location.high_chairs}" if location.high_chairs %>
  <%= "Family restrooms: #{location.family_restrooms}" if location.family_restrooms %>
  <%= "Restrooms: #{location.restrooms}" if location.restrooms %>
  <%= "Nursing stations: #{location.nursing_stations}" if location.nursing_stations %>
  <%= "Water fountains: #{location.water_fountains}" if location.water_fountains %>
  </ul>
</div>