<% provide(:title, "Check in Amenity") %>
<h2><%= yield(:title) %></h2>

<script id="google-location-template" type="text/x-handlebars-template">
 <div id="api-search-locations-checkin">
  {{#locations}}
  <img class='checkin-icon' src='{{icon}}' style="width:25px;height:25px"/>
  <div class="result-row" data-place_id="{{placeID}}">
    {{name}}
    <br>
    {{vicinity}}
  </div>

  {{/locations}}

</div>
</script>

<div id="map-canvas"></div>

<div id="locals_list"></div>

<div class="new-location-form-checkin">

  <%= form_for @location, :html => {:class => "new-checkin"} do |f| %>
    <div class="check-in-page-amenity">
    <%= f.label 'Changing Stations' %>
    <%= f.check_box :changing_stations, options = {}, checked_value = true, unchecked_value = false %>
    </div>
    <div class="check-in-page-amenity">
    <%= f.label 'Nursing Stations' %>
    <%= f.check_box :nursing_stations, options = {}, checked_value = true, unchecked_value = false %>
    </div>
    <div class="check-in-page-amenity">
    <%= f.label 'Family Restrooms' %>
    <%= f.check_box :family_restrooms, options = {}, checked_value = true, unchecked_value = false %>
    </div>
    <div class="check-in-page-amenity">
    <%= f.label 'Restrooms' %>
    <%= f.check_box :restrooms, options = {}, checked_value = true, unchecked_value = false %>
    </div>
    <div class="check-in-page-amenity">
    <%= f.label 'Play Areas' %>
    <%= f.check_box :play_areas, options = {}, checked_value = true, unchecked_value = false %>
    </div>
    <div class="check-in-page-amenity">
    <%= f.label 'Water Fountains' %>
    <%= f.check_box :water_fountains, options = {}, checked_value = true, unchecked_value = false %>
    </div>
    <div class="check-in-page-amenity">
    <%= f.label 'High Chairs' %>
    <%= f.check_box :high_chairs, options = {}, checked_value = true, unchecked_value = false %>
    </div>
    <div class="check-in-page-amenity">
    <%= f.label 'Cribs' %>
    <%= f.check_box :cribs, options = {}, checked_value = true, unchecked_value = false %>
    </div>
    <%= f.submit 'Submit' , id: 'checkin-submit-btn' %>
  <% end %>
  <div>
    Not what you're looking for? <%= link_to "Add a new location.", new_location_path %>
  </div>
</div>
