<h1>Check In Amenity</h1>

<div id="map-canvas"></div>

<div id="locals_list"></div>

<script id="google-location-template">
  <div>
    <span>{{name}}</span>
    <span>{{vicinity}}</span>
  </div>
</script>







<div class="new-location-form">

  <%= form_for @location do |f| %>
    <%= f.label 'Changing Stations' %>
    <%= f.check_box :changing_stations%>
    <%= f.label 'Nursing Stations' %>
    <%= f.check_box :nursing_stations%>
    <%= f.number_field :lng, class: 'text_field', step: 'any', hidden: "filler" %>
    <%= f.number_field :lat, class: 'text_field', step: 'any', hidden: "filler" %>
    <%= f.text_field :formatted_address, hidden: "filler"%>
    <%= f.text_field :formatted_phone_number, hidden: "filler"%>
    <%= f.submit 'Submit' %>
  <% end %>

</div>
