<h2>Search Amenities</h2>

<div>
  <div>

  <div>
    <a id="cribs" href="<%= find_amenities_path('cribs')%>">Cribs</a>
  </div>

  <div>
    <a id="changing_stations" href="<%= find_amenities_path('changing_stations')%>">Changing Stations</a>
  </div>

  <div>
    <a id="high_chairs" href="<%= find_amenities_path('high_chairs')%>">High Chairs</a>
  </div>

  <div>
    <a id="family_restrooms" href="<%= find_amenities_path('family_restrooms')%>">Family Restrooms</a>
  </div>

  <div>
    <a id="restrooms" href="<%= find_amenities_path('restrooms')%>">Restrooms</a>
  </div>

  <div>
    <a id="nursing_stations" href="<%= find_amenities_path('nursing_stations')%>">Nursing Stations</a>
  </div>

  <div>
    <a id="water_fountains" href="<%= find_amenities_path('water_fountains')%>">Water Fountains</a>
  </div>

  </div>
</div>
