<% provide(:title, @location.name) %>

<%= render partial: 'map', locals: {location: @location} %>

<div class="mdl-grid location-show">
  <div class="mdl-cell mdl-cell--8-col">
    <%= render partial: 'location', locals: {location: @location} %>
<% if @location.reviews? %>
      <div class="location_reviews">
        <h3><%= pluralize(@location.reviews.count, "review") %></h3>
        <% @location.reviews.each do |review| %>
          <%= render partial: 'location_review', locals: {location: @location, review: review, likes: @likes} %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mdl-cell--4-col">
    <% if @location.amenities? %>
      <%= render partial: 'amenities', locals: {location: @location} %>
    <% end %>
    <% if @location.has_yelp_deal? %>
      <%= render partial: 'deal', locals: {location: @location} %>
    <% end %>
    <div>
  </div>
</div>
