<%= render partial: 'heading', locals: {location: @location} %>

<%= render partial: 'ratings', locals: {location: @location} %>

<%= render partial: 'map', locals: {location: @location} %>

<% if @location.amenities? %>
    <%= render partial: 'amenities', locals: {location: @location} %>
<% end %>

<% if @location.reviews? %>
  <div class="location_reviews">
    <h3><%= pluralize(@location.reviews.count, "review") %></h3>
    <% @location.reviews.each do |review| %>
      <%= render partial: 'reviews/review', locals: {review: review} %>
      <%= render partial: 'likes/form', locals: {review: review, likes: @likes} %>
    <% end %>
  </div>
<% end %> 
<div class="new_review_link">
  <%= link_to "Add your review", new_location_review_path(@location) %> 
</div>