<%= render partial: 'heading', locals: {location: @location} %>

<%= render partial: 'ratings', locals: {location: @location} %>

<%= render partial: 'map', locals: {location: @location} %>

<% if @location.amenities? %>
    <%= render partial: 'amenities', locals: {location: @location} %>
<% end %>

<% if @location.reviews? %>
  <div class="location_reviews">
    <h3><%= pluralize(@location.reviews.count, "review") %></h3>
    <% @location.reviews.each do |review| %>
      <div class="review">
        <%= render partial: 'reviews/review', locals: {review: review} %>
        <div class="review_details">
          <div class="location_image icon_image"><%= gravatar_for review.user %></div>
          <%= link_to review.user.username, review.user %> -
          <%= time_ago_in_words(review.created_at) %> ago
          <div class="helped_statement">
            <%= render partial: 'likes/form', locals: {review: review, likes: @likes} %>
            <span class="helpful_points"><%= review.helpful_count %></span>
            <% if review.helpful_count == 1 %>
              <span class="helped">person</span>
            <% else %>
              <span class="helped">people</span>
            <% end %>
            found this review helpful.
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="new_review_link">
  <%= link_to "Add your review", new_location_review_path(@location) %>
</div>
