<%= render partial: 'heading', locals: {location: @location} %>

<%= render partial: 'ratings', locals: {location: @location} %>

<%= render partial: 'map', locals: {location: @location} %>

<% if @location.amenities? %>
    <%= render partial: 'amenities', locals: {location: @location} %>
<% end %>

<div class="location_reviews">
  <h3><%= pluralize(@location.reviews.count, "review") %></h3>
  <% @location.reviews.each do |review| %>
    <%= render partial: 'reviews/review', locals: {review: review} %>
  <% end %>
</div>