<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.green-indigo.min.css" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="mdl-layout mdl-layout--fixed-header mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><%= link_to "kidpanion", root_path %></span>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <%= render partial: 'shared/global_nav' %>
        </nav>
        <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
          <%= render partial: 'shared/accounts' %>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <span class="mdl-layout-title"><%= link_to "kidpanion", root_path %></span>
      <nav class="mdl-navigation">
        <%= render partial: 'shared/global_nav' %>
        <div class="drawer-separator"></div>
        <span class="mdl-navigation__link drawer_heading" href>Account</span>
        <%= render partial: 'shared/accounts' %>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <%= render partial: 'shared/flash_messages' %>
      <%= yield %>
    </main>
  <footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      kidpanion - <%= Time.now.year %>
    </div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section alert-buttons">
    <%= render partial: 'shared/find_specific_amenities' %>
  </div>
</footer>
  </div>

</body>
</html>
