<!DOCTYPE html>
<html>
<head>
  <title>KidFriendly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render partial: 'shared/global_nav' %>
  </header>

  <%= render partial: 'shared/flash_messages' %>

  <%= yield %>
</body>

<footer>
  <%= render partial: 'shared/find_specific_amenities' %>
</footer>
</html>
