<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.green-indigo.min.css" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places" %>
  <script src="//cdn.ckeditor.com/4.5.2/standard/ckeditor.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="mdl-layout mdl-layout--fixed-header mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><%= link_to "kidpanion", root_path %></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only features">
          <%= render partial: 'shared/global_nav' %>
        </nav>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
          <%= render partial: 'shared/accounts' %>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <span class="mdl-layout-title"><%= link_to "kidpanion", root_path %></span>
      <nav class="mdl-navigation">
        <%= render partial: 'shared/global_nav' %>
        <div class="drawer-separator"></div>
        <%= render partial: 'shared/accounts' %>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <%= render partial: 'shared/flash_messages' %>
      <%= yield %>
    </main>
  <footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      kidpanion - <%= Time.now.year %>
    </div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
      <li><%= link_to 'Search Locations', root_path %></li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section alert-buttons">
    <%= render partial: 'shared/find_specific_amenities' %>
  </div>
</footer>
  </div>

  <div class='popup' data-popup='popup-1'>
    <div class='popup-inner'>
      <div class="login">
        <%= form_tag(login_path, method: 'post') do %>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <label class="mdl-textfield__label">Username</label>
            <input class="mdl-textfield__input" type="text" name="username" />
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <label class="mdl-textfield__label">Password</label>
            <input class="mdl-textfield__input" type="password" name="password" />
          </div>
          <%= submit_tag "Login", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" %>

        <% end %>
      </div>
        <p><a data-popup-close="popup-1" href="#">Close</a></p>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
  </div>
  <div class='popup' data-popup='popup-2'>
      <div class='popup-inner'>
      <h2>New User Registration</h2>
        <div class="new_user_form form">
          <%= form_for User.new do |f| %>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <%= f.label :username, class: "mdl-textfield__label" %>
              <%= f.text_field :username, class: "mdl-textfield__input" %>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <%= f.label :first_name, class: "mdl-textfield__label" %>
              <%= f.text_field :first_name, class: "mdl-textfield__input" %>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <%= f.label :last_name, class: "mdl-textfield__label" %>
              <%= f.text_field :last_name, class: "mdl-textfield__input" %>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <%= f.label :email, class: "mdl-textfield__label" %>
              <%= f.text_field :email, class: "mdl-textfield__input" %>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <%= f.label :password, class: "mdl-textfield__label" %>
              <%= f.password_field :password, class: "mdl-textfield__input" %>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <%= f.label :password_confirmation, class: "mdl-textfield__label" %>
              <%= f.password_field :password_confirmation, class: "mdl-textfield__input" %>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <%= f.submit "Sign up", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" %>
            </div>
          <% end %>
        </div>
          <p><a data-popup-close="popup-2" href="#">Close</a></p>
          <a class="popup-close" data-popup-close="popup-2" href="#">x</a>
      </div>
    </div>
  <div class='popup' data-popup='popup-3'>
    <div class='popup-inner'>
      <div id="search-data-display">
        <h5>Location Form</h5>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" id="searchTextField" type="text" size="75" placeholder=""/>
            <label class="mdl-textfield__label" for="searchTextField">Enter a Location</label>
          </div>
        <p><span id="search-data-name"></span></p>
        <p><span id="search-data-address"></span></p>
      </div>
        <%= render partial: "/locations/form" %>
      <p><a data-popup-close="popup-3" href="#">Close</a></p>
      <a class="popup-close" data-popup-close="popup-3" href="#">x</a>
    </div>
  </div>
</body>
</html>
